<!DOCTYPE html>
<html lang="{{ locales.pt_ao.lang }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/style/main.css">
    {{#each data}}
    <link rel="preload" href="{{ photo }}" as="image" type="image/jpeg">
    {{/each}}
    <link rel="preload" href="/assets/images/pexels-lina-kivaka-1741205.jpg" as="image" type="image/jpeg">
    <style>
      h1 {
        color: red;
        font-size: 3em;
      }

      .dog {
        border: 1px solid yellow;
      }
    </style>
  </head>

  <body>
    <div class="langs">
      {{#each locales}}
      <a href="{{ entry }}">{{ lang }}</a>
      {{/each}}
    </div>
    <div class="wrapper">
      <header>
        <h1>{{ site.name }}</h1>
        <p>{{ locales.pt_ao.tag }}</p>
        <img src="/assets/images/pexels-lina-kivaka-1741205.jpg"
          alt="{{ locales.pt_ao.img_alt }}"
          title="{{ locales.pt_ao.img_alt }}"
          width="300"
        >
      </header>
      <main>
        <ul class="cats">
          {{#each data}}
          <li>
            <div class="cat">
              <img src="{{ photo }}" alt="{{ name }}" title="{{ locales.pt_ao.img_title }} {{ name }}" width="200">
              <p><a href="{{ locales.pt_ao.entry }}{{ insertedAt }}/{{ name }}">{{ name }}</a></p>
              <p class="breed">
                {{ locales.pt_ao.breed }} {{ breed }}
              </p>
            </div>
          </li>
          {{/each}}
          <li>
            <div class="cat dog">
              <img src="{{ data.1.photo }}" alt="{{ data.1.name }}" title="{{ locales.pt_ao.img_title }} {{ data.1.name }}" width="200">
              <p><a href="{{ data.1.name }}">{{ data.1.name }}</a></p>
              <p class="breed">
                {{ locales.pt_ao.breed }} {{ data.1.breed }}
              </p>
            </div>
          </li>
        </ul>
      </main>
    </div>
    <footer>
      (c) {{ jesse.year }} {{ site.name }}. {{ locales.pt_ao.builtBy }}
    </footer>
  </body>

</html>
