.data-list {
  padding: 10px;
  list-style-type: none;
  margin: 0 auto;
  max-width: 900px;
}

.cover {
  width: 100%;
  height: 300px;
  lol
}

.data-box {
  background-color: #e0e0e0;
  border-radius: 4px;
  width: 85%;
  margin: 10px auto;
}

.data-box p {
  font-size: 2em;
  text-align: center;
}

.data-box a {
  text-decoration: none;
}

.data-box a:hover,
.data-box a:focus {
  text-decoration: underline;
}
