{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 11,
    "requireConfigFile": false
  },
  "settings": {
    "targets": ["last 2 versions"]
  }
}
