* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111111;
  background-color: #eeeeee;
  font-family: sans-serif;
  overflow: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 1% auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

header {
  height: 50px;
}

.menu {
  padding: 4px;
  flex-basis: 20%;
  overflow: hidden auto;
}

.logo {
  font-size: 2.25em;
  color: #ff4d57;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  padding: 3px;
  text-transform: capitalize;
}

.menu a {
  text-decoration: none;
}

.menu a:hover,
.menu a:focus {
  text-decoration: underline;
}

.content {
  font-size: 1.2em;
  flex-basis: 80%;
  padding: 5px;
}

.constent h1:hover::before {
  content: '\00B6';
  padding-right: 5px;
  font-size: .7em;
  position: relative;
  top: -3px;
  color: #353535;
}

.active-item {
  font-weight: bold;
}
