<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ data.name }}">
    <meta name="description" content="{{ data.name }} - Blog - Tidy">
    <title>{{ data.name }} - Blog - Tidy</title>
  </head>

  <body>
    <p>
      <a href="/">home</a>
    </p>
    <h1>
      {{#if data.title }}
        {{ data.title }}
      {{else }}
        {{ data.name }}
      {{/if}}
    </h1>
    <article>{{{ data.content }}}</article>
    <footer>
      &copy; 2022 Tidy approach by Jampass.
    </footer>
  </body>

</html>
