<!DOCTYPE html>
<html lang={{ locales.en_us.lang }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ data.name }} - {{ site.name }}</title>
  <link rel="stylesheet" href="/style/cat.css">
  <link rel="shortcut icon" href="/cat-fav.png" type="image/png">
</head>
<body>
  <a href="/{{ locales.en_us.entry }}">{{ locales.en_us.home }}</a>
  <div class="langs"></div>
    {{#each locales}}
    <a href="{{../jesse.url.page}}{{ entry }}/{{ ../jesse.url.dir }}">{{ lang }}</a>
    {{/each}}
  </div>
  <div class="wrapper">
    <h1>{{ site.name }}</h1>
    <p>{{ locales.en_us.tag }}</p>
    <section>
      <div class="about">
        <h2>{{ data.name }}</h2>
        <p>{{ data.description }}</p>
        <p class="breed">
          {{ locales.en_us.breed }} {{ data.breed }}
        </p>
      </div>
      <img src="{{ data.photo }}" alt="{{ data.name }} {{ locales.en_us.img_title }}" title="{{ data.name }} {{ locales.en_us.img_title }}">
    </section>
  </div>
  <footer>
    (c) {{ jesse.year }} {{ site.name }}. {{ locales.en_us.builtBy }}
  </footer>
</body>
</html>
