<!DOCTYPE html>
<html lang="{{ locales.enUS.lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ data.name }} - {{ site.name }}</title>
  <link rel="stylesheet" href="style/cat.css">
  <link rel="preload" href="{{ data.photo }}" as="image" type="image/jpeg">
</head>
<body>
  <a href="/">{{ locales.enUS.home }}</a>
  <select>
    {{#each locales}}
    <option value={{ lang }}>{{ lang }}</option>
    {{/each}}
  </select>
  <div class="wrapper">
    <h1>{{ site.name }}</h1>
    <section>
      <div class="about">
        <h2>{{ data.name }}</h2>
        <p>{{ data.description }}</p>
        <p class="breed">
          {{ locales.enUS.breed }} {{ data.breed }}
        </p>
      </div>
      <img src="{{ data.photo }}" alt="{{ data.name }} {{ locales.enUS.img_title }}" title="{{ data.name }} {{ locales.enUS.img_title }}">
    </section>
  </div>
  <footer>
    (c) {{ jesse.year }} {{ site.name }}. {{ locales.enUS.builtBy }}
  </footer>
</body>
</html>
