<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ data.name }} - {{ site.name }}</title>
  <link rel="stylesheet" href="/cats/style/cat.css">
</head>
<body>
  <a href="/">home</a>
  <div class="wrapper">
    <h1>{{ site.name }}</h1>
    <section>
      <div class="about">
        <h2>{{ data.name }}</h2>
        <p>{{ data.description }}</p>
        <p class="breed">
          Breed: {{ data.breed }}
        </p>
      </div>
      <img src="{{ data.photo }}" alt="{{ data.name }} photo" title="{{ data.name }} looking great">
    </section>
  </div>
  <footer>
    (c) {{ jesse.year }} {{ site.name }}. Built by Jesse
    <div class="supports">
      <b>Jesse supports</b>
      <img src="https://camo.githubusercontent.com/a2ebaaedf9af41416a2717b3a28f405b39535397f4463c5c5119146c84c240f9/68747470733a2f2f706f73746373732e6f72672f6c6f676f2e737667" alt="postcss logo">
    </div>
  </footer>
</body>
</html>
