<!DOCTYPE html>
<html lang="{{ locales.en_us.lang }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/style/main.css">
    {{#each data}}
    <link rel="preload" href="{{ photo }}" as="image" type="image/jpeg">
    {{/each}}
    <link rel="preload" href="/assets/images/pexels-lina-kivaka-1741205.jpg" as="image" type="image/jpeg">
    <style>
      h1 {
        color: red;
        font-size: 3em;
      }
    </style>
  </head>

  <body>
    <div class="langs">
      {{#each locales}}
      <a href="{{ entry }}">{{ lang }}</a>
      {{/each}}
    </div>
    <div class="wrapper">
      <header>
        <h1>{{ site.name }}</h1>
        <p>{{ locales.en_us.tag }}</p>
        <img src="/assets/images/pexels-lina-kivaka-1741205.jpg"
          alt="{{ locales.en_us.img_alt }}"
          title="{{ locales.en_us.img_alt }}"
          width="300"
        >
      </header>
      <main>
        <ul class="cats">
          {{#each data}}
          <li>
            <div class="cat">
              <img src="{{ photo }}" alt="{{ name }}" title="{{ name }} {{ locales.en_us.img_title }}" width="200">
              <p><a href="{{ insertedAt }}/{{ name }}">{{ name }}</a></p>
              <p class="breed">
                {{ locales.en_us.breed }} {{ breed }}
              </p>
            </div>
          </li>
          {{/each}}
        </ul>
      </main>
    </div>
    <footer>
      (c) {{ jesse.year }} {{ site.name }}. {{ locales.en_us.builtBy }}
    </footer>
    <script src="/script/main.js"></script>
  </body>

</html>
