<!DOCTYPE html>
<html lang="{{ locales.pt_ao.lang }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="preload" href="/assets/images/pexels-lina-kivaka-1741205.jpg" as="image" type="image/jpeg">
    <link rel="shortcut icon" href="/cat-fav.png" type="image/png">
    <style>
      h1 {
        color: red;
        font-size: 3em;
      }
    </style>
  </head>

  <body>
    <div class="langs">
      {{#each locales}}
      <a href="{{ entry }}/{{ ../jesse.urlPath.here }}">{{ lang }}</a>
      {{/each}}
    </div>
    <div class="wrapper">
      <header>
        <h1>{{ site.name }}</h1>
        <p>{{ locales.pt_ao.tag }}</p>
        <img src="/assets/images/pexels-lina-kivaka-1741205.jpg"
          alt="{{ locales.pt_ao.img_alt }}"
          title="{{ locales.pt_ao.img_alt }}"
          width="300"
        >
      </header>
      <main>
        <ul class="cats">
          {{#each data}}
          <li>
            <div class="cat">
              <img src="{{ photo }}" alt="{{ name }}" title="{{ locales.pt_ao.img_title }} {{ name }}" width="200">
              <p><a href="{{ locales.pt_ao.entry }}{{ insertedAt }}/{{ name }}">{{ name }}</a></p>
              <p class="breed">
                {{ locales.pt_ao.breed }} {{ breed }}
              </p>
            </div>
          </li>
          {{/each}}
        </ul>
      </main>
    </div>
    <div class="pagination">
      {{#if (neq (dec jesse.page.current 1) 1)}}
      <a href="{{ dec jesse.page.current 1 }}">
        {{ locales.pt_ao.prev }}
      </a>
      {{else if (neq jesse.page.current 1)}}
      <a href="/{{ page }}{{ ../locales.pt_ao.entry }}">{{ locales.pt_ao.prev }}</a>
      {{/if}}
      {{#each pages}}
      {{#if (eq ../jesse.page.current page)}}
      <i>{{ page }}</i>
      {{else if (neq page 1)}} <a href="/{{ page }}{{ ../locales.pt_ao.entry }}">{{ page }}</a>
      {{/if}}
      {{#if (and (neq ../jesse.page.current page) (eq page 1))}}
      <a href="/{{ ../locales.pt_ao.entry }}">{{ page }}</a>
      {{/if}}
      {{/each}}
      {{#if (neq jesse.page.current pages.length)}}
      <a href="/{{ inc jesse.page.current pages.length }}/{{ page }}">
        {{ locales.pt_ao.next }}
      </a>
      {{/if}}
    </div>
    <footer>
      (c) {{ jesse.year }} {{ site.name }}. {{ locales.pt_ao.builtBy }}
    </footer>
  </body>

</html>
